$color-light: #CBD9D6;
$color-dark: #8DA593;

$color-lighter: rgba(255,255,255,.2);
$color-darker: rgba(0,0,0,.2);

$max-width: 80rem;
$border: solid 2px rgba($color-dark, .5);
$border-light: solid 2px lighten($color-light, 10%);

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	font: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Acme', sans-serif;
	font-size: 2rem;
	min-height: 100vh;
	background-color: $color-light;
	color: $color-dark;
	min-height: 100vh;
	padding-bottom: 5rem;
	position: relative;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	height: 5rem;
	width: 100%;
	background-color: rgba($color-dark, .4);
	color: #fff;

}