.btn {
	padding: .5rem 1rem;
	border: $border;
	border-radius: .5rem;
	cursor: pointer;
	color: #fff;
	background-color: $color-dark;
	font-size: 2rem;
	transition: all .2s;


	&:focus {
		outline: none;
	}

	&:hover {
		color: $color-dark;
		background-color: #fff;
		border: $border-light;
	}
}

.ipt {
	padding: .5rem 1rem;
	background-color: $color-lighter;
	border: $border;
	border-radius: .5rem;
	color: $color-dark;
	font-size: 2rem;

	&:focus {
		outline: none;
	}
}