.container {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	position: relative;
}

.title {
	font-size: 4rem;
	font-weight: bold;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, .1);
	margin-bottom: 1rem;
	white-space: nowrap;
}

.version {
	position: absolute;
	transform: translate(12rem, 4rem);
}

.how-to-use {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	&:hover {
		color: white;
	}
}

.inputs {
	margin-bottom: 1rem;
	border-radius: 1rem;
	border: $border;
	background-color: $color-lighter;
	position: relative;
	width: 100%;

	&--input,
	&--pseudo {
		padding: 1rem;
		font-family: 'Space Mono', monospace;
		text-align: center;
		color: $color-dark;
		font-size: 2rem;
		letter-spacing: 1rem;
		display: block;
		line-height: 3rem;
		font-weight: bold;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;

		@media screen and (max-width: 50rem) {
			width: 100%;
			min-width: initial;
		}

		&:focus {
			outline: none;
		}

		&::after {
			content: "";
		}
	}

	&--pseudo {
		&.empty {
			color: rgba($color-dark, .25);
		}
	}

	&--input {
		position: absolute;
		transform: translateY(-100%);
		color: transparent;

		caret-color: rgba(0, 0, 0, .2);

		&::selection {
			background: $color-dark;
		}
	}

	&--clear {
		border-radius: 5rem;
		border: solid 2px currentColor;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		width: 2rem;
		height: 2rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		transition: color .2s, background-color .2s;

		&:hover {
			color: #fff;
			background-color: $color-dark;
		}

		&::after {
			content: "\00d7";
			display: block;
			margin-top: -2px;
		}
	}
}

.words {
	max-width: $max-width;
	background-color: $color-lighter;
	padding: 1rem 1rem;
	color: #fff;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	border-radius: 1rem;
	border: $border;
	width: 100%;
	min-height: 20rem;

	&>* {
		background-color: $color-dark;
		padding: .5rem 1rem;
		margin: .5rem;
		display: block;
		font-size: 1.5rem;
		box-shadow: 0px 4px 0px rgba($color-dark, .25);
		border-radius: .5rem;
		border: solid 2px $color-light;
		cursor: pointer;
		transition: all .2s;

		&:hover {
			color: $color-dark;
			background-color: #fff;
			border: $border;
		}
	}
}

.dictionaries {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.dictionary {
		margin: 0 .5rem;

		&--label {
			display: inline-block;
			background-color: rgba($color-dark, .1);
			color: rgba($color-dark, .75);
			padding: .5rem 1rem;
			border-radius: .5rem;
			border: $border;
			transition: all .2s;
			transform: translateY(-2px);
			cursor: pointer;
			box-shadow: 0px 4px 0px rgba(0, 0, 0, .05);

			&::after {
				content: " ("attr(data-count) " words)";
			}

			&:hover {
				background-color: rgba($color-dark, .2);
				color: $color-dark;
			}
		}

		&--option {
			display: none;
		}

		&--option:checked+.dictionary--label {
			background-color: $color-dark;
			color: #fff;
			box-shadow: 0px 2px 0px rgba(0, 0, 0, .1);
			transform: translateY(0px);
		}
	}
}

.user-dictionary {
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	&>* {
		flex: 1 1 auto;
		&:not(:first-child){
			margin-left: 1rem;
		}
	}

	.btn {
		flex: 0 1 auto;
	}

	.ipt {
		text-align: center;
	}
}

.tips {
	margin-bottom: 1rem;
}